body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 1000px;
    background-color: #373a53;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.buttons button {
    background-color: #ff4b4b;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.content img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.title {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 24px;
    width: 100px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.desc-box {
    background-color: red;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    flex: 1;
    height: 150px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-box-text {
    background-color: #00ff00;
    width: 100%;
    height: 60px;
    color: black;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}